<form action="/support" method="POST" role="form">

  <div class="form-group">
    <label>Your name</label>
    <input name="username" type="text" class="form-control" placeholder="put you name here" value = "<%=@username%>">
  </div>

  <div class="form-group">
    <label>Your message</label>
    <input name="usermessage" type="text" class="form-control" placeholder="type you message to us" value = "<%=@usermessage%>">
  </div>

  <button type="submit" class="btn btn-primary">submit</button>

</form>